docker/data/nodered/.flows.json.backup
[
    {
        "id": "b331a2741c2ed733",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90679a55cb72a472",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "ce35741a2dd58391",
        "type": "mqtt-broker",
        "name": "1dt305-mosquitto",
        "broker": "1dt305-mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "36d1da0e1ca575b4",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ffe000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#ffe000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#ffe000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ffe000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffe94d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ffe000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7cbe4a34139c3daa",
        "type": "ui_tab",
        "name": "1DT305 Project",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72bb127f78e21621",
        "type": "influxdb",
        "hostname": "1dt305-influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "nodered",
        "name": "1dt305-influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://1dt305-influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "ccd546b8299b7d1d",
        "type": "ui_group",
        "name": "Read raw",
        "tab": "7cbe4a34139c3daa",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45cace4c19db13c6",
        "type": "ui_group",
        "name": "Last hour",
        "tab": "7cbe4a34139c3daa",
        "order": 4,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89749fb7.87f01",
        "type": "ui_group",
        "name": "Charts",
        "tab": "d7901f40.2659d",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "ab397e95.29ebe",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "d7901f40.2659d",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "4e7edda4.417004",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "d7901f40.2659d",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "d7901f40.2659d",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "f4b7ba13873d833a",
        "type": "ui_group",
        "name": "Latest values",
        "tab": "7cbe4a34139c3daa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "99e91a1651075e10",
        "type": "ui_group",
        "name": "Last day",
        "tab": "7cbe4a34139c3daa",
        "order": 5,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed05c7a6c1edd308",
        "type": "ui_group",
        "name": "Last week",
        "tab": "7cbe4a34139c3daa",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "504e9c974fddbb45",
        "type": "debug",
        "z": "b331a2741c2ed733",
        "name": "Raw dump",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 600,
        "wires": []
    },
    {
        "id": "b0f1f0b414e5f806",
        "type": "mqtt in",
        "z": "b331a2741c2ed733",
        "name": "MQTT from Device",
        "topic": "soilly/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "ce35741a2dd58391",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "af568aecb4802e6e",
                "f2100ccee6276afe"
            ]
        ]
    },
    {
        "id": "cecbf0013158ea4e",
        "type": "influxdb out",
        "z": "b331a2741c2ed733",
        "influxdb": "72bb127f78e21621",
        "name": "InfluxDB store",
        "measurement": "",
        "precision": "s",
        "retentionPolicy": "",
        "database": "sensor_data",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "30d",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "74a633492d2fe5e4",
        "type": "influxdb in",
        "z": "b331a2741c2ed733",
        "influxdb": "72bb127f78e21621",
        "name": "InfluxDB load",
        "query": "select * from \"soilly\" group by * order by time desc",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "9511230c252fb80b",
                "cc5be5ca7bc33576",
                "3e0425d3e3060951",
                "5ece052de97a92ce",
                "8abfe0e0ed5b7b8c",
                "e8f924420124b7ad"
            ]
        ]
    },
    {
        "id": "9511230c252fb80b",
        "type": "function",
        "z": "b331a2741c2ed733",
        "name": "Extract H",
        "func": "var data = [[]];\nfor (var measurement of msg.payload) {\n    const date = new Date(measurement.time);\n    const time = date.getTime();\n    data[0].push({\"x\": time, \"y\": measurement.humidity})\n}\nvar chart = [{\n    \"series\": [\"H\"],\n    \"data\": data,\n    \"labels\": [\"\"]\n}];\nmsg.payload = chart;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 480,
        "wires": [
            [
                "cf48c559f059c0cb"
            ]
        ]
    },
    {
        "id": "8c1a694c8f9c8f80",
        "type": "inject",
        "z": "b331a2741c2ed733",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "74a633492d2fe5e4"
            ]
        ]
    },
    {
        "id": "af568aecb4802e6e",
        "type": "json",
        "z": "b331a2741c2ed733",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "70f3b704bbd0b031"
            ]
        ]
    },
    {
        "id": "70f3b704bbd0b031",
        "type": "change",
        "z": "b331a2741c2ed733",
        "name": "Modify",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "soilly",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t  payload,\t  topic.$split(\"/\") {\t    \"model\": $[0],\t    \"device_id\": $[1]\t  }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "cecbf0013158ea4e"
            ]
        ]
    },
    {
        "id": "e8f924420124b7ad",
        "type": "change",
        "z": "b331a2741c2ed733",
        "name": "Extract latest",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "70125fa8c6cd47cc",
                "582810c320147e30",
                "27b7dd21c62a8ac2",
                "b3b39ec82818fa6d",
                "a7cc76915eeaf910",
                "6d778ec798fca770"
            ]
        ]
    },
    {
        "id": "5dfa265d0cd469e1",
        "type": "ui_text",
        "z": "b331a2741c2ed733",
        "group": "f4b7ba13873d833a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Time",
        "label": "Measured at:",
        "format": "{{msg.payload.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "2f42d807da1a1290",
        "type": "ui_ui_control",
        "z": "b331a2741c2ed733",
        "name": "Detect UI connect",
        "events": "all",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "74a633492d2fe5e4"
            ]
        ]
    },
    {
        "id": "70125fa8c6cd47cc",
        "type": "ui_text",
        "z": "b331a2741c2ed733",
        "group": "f4b7ba13873d833a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Last P",
        "label": "Air pressure:",
        "format": "{{msg.payload.pressure / 1000 | number: 2}} kPa",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "582810c320147e30",
        "type": "ui_text",
        "z": "b331a2741c2ed733",
        "group": "f4b7ba13873d833a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Last R",
        "label": "Rain intensity:",
        "format": "{{msg.payload.rain_intensity}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "27b7dd21c62a8ac2",
        "type": "ui_text",
        "z": "b331a2741c2ed733",
        "group": "f4b7ba13873d833a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Last M",
        "label": "Soil moisture:",
        "format": "{{msg.payload.rain_intensity}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "b3b39ec82818fa6d",
        "type": "ui_text",
        "z": "b331a2741c2ed733",
        "group": "f4b7ba13873d833a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Last T",
        "label": "Temperature:",
        "format": "{{msg.payload.temperature | number: 1}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 180,
        "wires": []
    },
    {
        "id": "a7cc76915eeaf910",
        "type": "ui_text",
        "z": "b331a2741c2ed733",
        "group": "f4b7ba13873d833a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Last H",
        "label": "Humidity:",
        "format": "{{msg.payload.humidity | number: 0}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "6d778ec798fca770",
        "type": "moment",
        "z": "b331a2741c2ed733",
        "name": "Time formatter",
        "topic": "",
        "input": "payload.time",
        "inputType": "msg",
        "inTz": "ETC/UTC",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "add",
        "format": "YYYY-MM-DD HH:mm:ss",
        "locale": "sv-SE",
        "output": "payload.time",
        "outputType": "msg",
        "outTz": "Africa/Abidjan",
        "x": 920,
        "y": 300,
        "wires": [
            [
                "5dfa265d0cd469e1"
            ]
        ]
    },
    {
        "id": "f2100ccee6276afe",
        "type": "function",
        "z": "b331a2741c2ed733",
        "name": "Detect new data",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "74a633492d2fe5e4"
            ]
        ]
    },
    {
        "id": "cf48c559f059c0cb",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "H 1h",
        "group": "45cace4c19db13c6",
        "order": 4,
        "width": "5",
        "height": "4",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "20",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 480,
        "wires": [
            [
                "80ea54f2d99b45f9"
            ]
        ]
    },
    {
        "id": "692886c015e23e93",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "M 1h",
        "group": "45cace4c19db13c6",
        "order": 1,
        "width": "5",
        "height": "4",
        "label": "Soil moisture",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 360,
        "wires": [
            [
                "337226ccead8f857"
            ]
        ]
    },
    {
        "id": "21b6e27a06723da3",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "R 1h",
        "group": "45cace4c19db13c6",
        "order": 2,
        "width": "5",
        "height": "4",
        "label": "Rain intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 400,
        "wires": [
            [
                "4aa7aaac0299b830"
            ]
        ]
    },
    {
        "id": "e20f793ca42ecbe6",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "T 1h",
        "group": "45cace4c19db13c6",
        "order": 3,
        "width": "5",
        "height": "4",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "15",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 440,
        "wires": [
            [
                "4cee4edefec84865"
            ]
        ]
    },
    {
        "id": "5f21ee539908e65b",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "P 1h",
        "group": "45cace4c19db13c6",
        "order": 5,
        "width": "5",
        "height": "4",
        "label": "Air pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 520,
        "wires": [
            [
                "0708617c6037a531"
            ]
        ]
    },
    {
        "id": "cc5be5ca7bc33576",
        "type": "function",
        "z": "b331a2741c2ed733",
        "name": "Extract M",
        "func": "var data = [[]];\nfor (var measurement of msg.payload) {\n    const date = new Date(measurement.time);\n    const time = date.getTime();\n    data[0].push({\"x\": time, \"y\": measurement.moisture})\n}\nvar chart = [{\n    \"series\": [\"M\"],\n    \"data\": data,\n    \"labels\": [\"\"]\n}];\nmsg.payload = chart;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 360,
        "wires": [
            [
                "692886c015e23e93"
            ]
        ]
    },
    {
        "id": "3e0425d3e3060951",
        "type": "function",
        "z": "b331a2741c2ed733",
        "name": "Extract R",
        "func": "var data = [[]];\nfor (var measurement of msg.payload) {\n    const date = new Date(measurement.time);\n    const time = date.getTime();\n    data[0].push({\"x\": time, \"y\": measurement.rain_intensity})\n}\nvar chart = [{\n    \"series\": [\"R\"],\n    \"data\": data,\n    \"labels\": [\"\"]\n}];\nmsg.payload = chart;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 400,
        "wires": [
            [
                "21b6e27a06723da3"
            ]
        ]
    },
    {
        "id": "5ece052de97a92ce",
        "type": "function",
        "z": "b331a2741c2ed733",
        "name": "Extract T",
        "func": "var data = [[]];\nfor (var measurement of msg.payload) {\n    const date = new Date(measurement.time);\n    const time = date.getTime();\n    data[0].push({\"x\": time, \"y\": measurement.temperature})\n}\nvar chart = [{\n    \"series\": [\"T\"],\n    \"data\": data,\n    \"labels\": [\"\"]\n}];\nmsg.payload = chart;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 440,
        "wires": [
            [
                "e20f793ca42ecbe6"
            ]
        ]
    },
    {
        "id": "8abfe0e0ed5b7b8c",
        "type": "function",
        "z": "b331a2741c2ed733",
        "name": "Extract P",
        "func": "var data = [[]];\nfor (var measurement of msg.payload) {\n    const date = new Date(measurement.time);\n    const time = date.getTime();\n    data[0].push({\"x\": time, \"y\": measurement.pressure / 1000})\n}\nvar chart = [{\n    \"series\": [\"P\"],\n    \"data\": data,\n    \"labels\": [\"\"]\n}];\nmsg.payload = chart;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 520,
        "wires": [
            [
                "5f21ee539908e65b"
            ]
        ]
    },
    {
        "id": "337226ccead8f857",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "M 24h",
        "group": "99e91a1651075e10",
        "order": 1,
        "width": "5",
        "height": "4",
        "label": "Soil moisture",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4aa7aaac0299b830",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "R 24h",
        "group": "99e91a1651075e10",
        "order": 1,
        "width": "5",
        "height": "4",
        "label": "Rain intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4cee4edefec84865",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "T 24h",
        "group": "99e91a1651075e10",
        "order": 1,
        "width": "5",
        "height": "4",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "15",
        "ymax": "35",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "80ea54f2d99b45f9",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "H 24h",
        "group": "99e91a1651075e10",
        "order": 1,
        "width": "5",
        "height": "4",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "20",
        "ymax": "80",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0708617c6037a531",
        "type": "ui_chart",
        "z": "b331a2741c2ed733",
        "name": "P 24h",
        "group": "99e91a1651075e10",
        "order": 1,
        "width": "5",
        "height": "4",
        "label": "Air pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fd56623b51bf97f3",
        "type": "openweathermap",
        "z": "b331a2741c2ed733",
        "name": "Weather",
        "wtype": "forecast",
        "lon": "",
        "lat": "",
        "city": "Stockholm",
        "country": "Sweden",
        "language": "en",
        "x": 480,
        "y": 600,
        "wires": [
            [
                "504e9c974fddbb45"
            ]
        ]
    },
    {
        "id": "56abc588ffc3130b",
        "type": "inject",
        "z": "b331a2741c2ed733",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 270,
        "y": 600,
        "wires": [
            [
                "fd56623b51bf97f3"
            ]
        ]
    },
    {
        "id": "1c24be99.3dc2f1",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "80476e4d.6f64a",
                "f4e610a1.1c381",
                "fe515729.789e58",
                "3c681829.4ff7d8"
            ]
        ]
    },
    {
        "id": "80476e4d.6f64a",
        "type": "ui_chart",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "89749fb7.87f01",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "line chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2583d993.df9cb6",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "80476e4d.6f64a"
            ]
        ]
    },
    {
        "id": "c4af128e.0eb42",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "2583d993.df9cb6"
            ]
        ]
    },
    {
        "id": "f4e610a1.1c381",
        "type": "ui_chart",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "89749fb7.87f01",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "bar chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ed9dcc7d.422ad",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 340,
        "y": 440,
        "wires": [
            [
                "1c24be99.3dc2f1"
            ]
        ]
    },
    {
        "id": "c6549407.0c1348",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 480,
        "wires": [
            [
                "80476e4d.6f64a",
                "f4e610a1.1c381",
                "fe515729.789e58",
                "3c681829.4ff7d8"
            ]
        ]
    },
    {
        "id": "27cc2706.421b18",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "c6549407.0c1348"
            ]
        ]
    },
    {
        "id": "7bcd06e3.5cbab8",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "80476e4d.6f64a"
            ]
        ]
    },
    {
        "id": "219123f5.f1d76c",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "7bcd06e3.5cbab8"
            ]
        ]
    },
    {
        "id": "22caebb3.7cfe94",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 680,
        "wires": [
            [
                "3c681829.4ff7d8",
                "f4e610a1.1c381",
                "80476e4d.6f64a",
                "f5108a61.91a6b8",
                "c7f5183f.012728",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "3c681829.4ff7d8",
        "type": "ui_chart",
        "z": "90679a55cb72a472",
        "name": "pie chart",
        "group": "89749fb7.87f01",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "pie chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 810,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7d0f50b6.398f3",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array for pie",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Pie 4 T",
        "x": 360,
        "y": 680,
        "wires": [
            [
                "22caebb3.7cfe94"
            ]
        ]
    },
    {
        "id": "bf37d8d7.9bd558",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "80476e4d.6f64a"
            ]
        ]
    },
    {
        "id": "e897b370.e8548",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "bf37d8d7.9bd558"
            ]
        ]
    },
    {
        "id": "f6963e44.a328f",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "80476e4d.6f64a"
            ]
        ]
    },
    {
        "id": "9462d11a.374a1",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "f6963e44.a328f"
            ]
        ]
    },
    {
        "id": "62668961.a49728",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 600,
        "wires": [
            [
                "80476e4d.6f64a",
                "f4e610a1.1c381",
                "3c681829.4ff7d8",
                "f5108a61.91a6b8",
                "c7f5183f.012728",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "b4c7442f.5481b8",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array3c",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "62668961.a49728"
            ]
        ]
    },
    {
        "id": "da3771b3.5a321",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array 2 for pie",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Pie Hole",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "2b9c546c.58865c"
            ]
        ]
    },
    {
        "id": "2b9c546c.58865c",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 720,
        "wires": [
            [
                "3c681829.4ff7d8",
                "f4e610a1.1c381",
                "c7f5183f.012728",
                "f5108a61.91a6b8",
                "80476e4d.6f64a",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "c0d6a942.dc82f8",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "topic",
        "func": "var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "f4e610a1.1c381",
                "3c681829.4ff7d8",
                "80476e4d.6f64a",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "b8f011ee.6b874",
        "type": "inject",
        "z": "90679a55cb72a472",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "c0d6a942.dc82f8"
            ]
        ]
    },
    {
        "id": "23311ede.673912",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "label",
        "func": "var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "f4e610a1.1c381",
                "3c681829.4ff7d8",
                "80476e4d.6f64a",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "564d1920.d756d8",
        "type": "inject",
        "z": "90679a55cb72a472",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "23311ede.673912"
            ]
        ]
    },
    {
        "id": "437e7323.02763c",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 520,
        "wires": [
            [
                "f4e610a1.1c381",
                "f5108a61.91a6b8",
                "c7f5183f.012728",
                "80476e4d.6f64a",
                "fe515729.789e58",
                "3c681829.4ff7d8"
            ]
        ]
    },
    {
        "id": "e741cd13.7e8da",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array3a",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "437e7323.02763c"
            ]
        ]
    },
    {
        "id": "10291d1f.0a5d13",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "",
        "func": "var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "f4e610a1.1c381",
                "80476e4d.6f64a",
                "c7f5183f.012728",
                "f5108a61.91a6b8",
                "fe515729.789e58",
                "3c681829.4ff7d8"
            ]
        ]
    },
    {
        "id": "be38d116.6de45",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array3b",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "10291d1f.0a5d13"
            ]
        ]
    },
    {
        "id": "fe515729.789e58",
        "type": "ui_chart",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "4e7edda4.417004",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "horizontal bar",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 790,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f5108a61.91a6b8",
        "type": "ui_chart",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "4e7edda4.417004",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "polar chart",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 820,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c7f5183f.012728",
        "type": "ui_chart",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "4e7edda4.417004",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "radar chart",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "71de4fb7.df017",
        "type": "function",
        "z": "90679a55cb72a472",
        "name": "label",
        "func": "var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "3c681829.4ff7d8",
                "f4e610a1.1c381",
                "80476e4d.6f64a",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "c2d23159.73b39",
        "type": "inject",
        "z": "90679a55cb72a472",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "71de4fb7.df017"
            ]
        ]
    },
    {
        "id": "29cd8a13.ecade6",
        "type": "ui_button",
        "z": "90679a55cb72a472",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear All",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "c7f5183f.012728",
                "f5108a61.91a6b8",
                "3c681829.4ff7d8",
                "fe515729.789e58",
                "f4e610a1.1c381",
                "80476e4d.6f64a"
            ]
        ]
    }
]